.top-3-list-item {
    border-radius: 10px;
    padding: 24px;
    width: calc(384px - 24px - 24px);
    height: calc(508px - 24px - 24px);

    display: flex;
    flex-direction: column-reverse;

    background-color: #e0e0e0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.top-3-list-item:hover {
    opacity: 1;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.text-white .top-3-list-item-nickname,
.text-white .top-3-list-item-title {
    color: #ffffff;
}
.text-white .top-3-list-item-write-date,
.text-white .top-3-list-item-content,
.text-white .top-3-list-item-counts {
    color: rgba(255, 255, 255, 0.8);
}
.text-white .top-3-list-item-main-box {
    background-color: transparent;
}
.text-white .top-3-list-item-profile-box {
    border: 2px solid white;
}


.text-dark .top-3-list-item-nickname,
.text-dark .top-3-list-item-title {
    color: #1a1a1a;
}
.text-dark .top-3-list-item-write-date,
.text-dark .top-3-list-item-content,
.text-dark .top-3-list-item-counts {
    color: #555555;
}
.text-dark .top-3-list-item-main-box {
    background: none;
    padding: 0;
    margin: 0;
}
.text-dark .top-3-list-item-profile-box {
    border: 2px solid #a0a0a0;
}


.top-3-list-item-main-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
    margin: -10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.top-3-list-item-top {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-3-list-item-profile-box {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: border-color 0.3s;
}

.top-3-list-item-profile-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.top-3-list-item-write-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.top-3-list-item-nickname {
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    transition: color 0.3s;
}

.top-3-list-item-write-date {
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;
    transition: color 0.3s;
}

.top-3-list-item-middle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.top-3-list-item-title {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    transition: color 0.3s;
}

.top-3-list-item-content {
    width: 100%;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    transition: color 0.3s;
}

.top-3-list-item-bottom {
    margin-top: 8px;
}

.top-3-list-item-counts {
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    transition: color 0.3s;
}