@font-face {
    font-family: 'Meiryo';
    src: local('Meiryo'), local('メイリオ');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    min-width: 1440px;
    font-family: Meiryo, メイリオ, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}